.DS_Store
._*
*.csv.gz
*.tsv.gz
*.zip
*.tar.gz
*.sqlite
*.pyc

.ipynb_checkpoints

benchmarks/__pycache__
benchmarks/test
benchmarks/*.tsv

training*
wandb/data
wandb/models
wandb/wandb

test.ipynb
jupyter.log
md5sums.txt
