.DS_Store
._*
*.csv.gz
*.tsv.gz
*.zip
*.tar.gz
*.sqlite
*.pyc

datasets/*

.ipynb_checkpoints

benchmarks/__pycache__
benchmarks/test
benchmarks/*.tsv

training*
wandb/data
wandb/models

test.ipynb
jupyter.log
